<ion-header>
  <ion-toolbar color="warning" class="ion-text-center">
    <ion-title class="white">
      Paramètres
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list>
    <ion-item (click)="onDismiss('DECONNEXION')" class="ion-item">
      Se déconnecter
      <ion-icon name="log-out" slot="end" color="warning"></ion-icon>
    </ion-item>

    <ion-item (click)="onDismiss('AIDE')" class="ion-item">
      Aide
      <ion-icon name="help-circle" slot="end" color="warning"></ion-icon>
    </ion-item>

    <ion-item (click)="onDismiss('APROPOS')" class="ion-item">
      A propos!
      <ion-icon name="information-circle" slot="end" color="warning"></ion-icon>
    </ion-item>
  </ion-list>

</ion-content>
