<ion-header>
  <ion-toolbar color="warning">
    <ion-menu-button slot="start" class="white"></ion-menu-button>
    <ion-title class="white ion-text-uppercase">
      Paramètres
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <!--<ion-item>
      <ion-icon name="share-social" size="large" slot="start" color="warning" class="icon"></ion-icon>
      <ion-label>
        <h2>Partager l'application</h2>
      </ion-label>
      <ion-icon slot="end" name="arrow-forward-outline" color="warning"></ion-icon>
    </ion-item>-->

    <ion-item>
      <ion-icon name="pencil" size="large" slot="start" color="warning" class="icon"></ion-icon>
      <ion-label>
        <h2>Notez-nous</h2>
      </ion-label>
      <ion-icon slot="end" name="arrow-forward-outline" color="warning"></ion-icon>
    </ion-item>

    <ion-item>
      <ion-icon name="mail-open" size="large" slot="start" color="warning" class="icon"></ion-icon>
      <ion-label>
        <h2>Feedback</h2>
      </ion-label>
      <ion-icon slot="end" name="arrow-forward-outline" color="warning"></ion-icon>
    </ion-item>

    <ion-item>
      <ion-icon name="call" size="large" slot="start" color="warning" class="icon"></ion-icon>
      <ion-label>
        <h2>Contactez-nous</h2>
      </ion-label>
      <ion-icon slot="end" name="arrow-forward-outline" color="warning"></ion-icon>
    </ion-item>

    <ion-item>
      <ion-icon name="information-circle" size="large" slot="start" color="warning" class="icon"></ion-icon>
      <ion-label>
        <h2>A propos de nous!</h2>
      </ion-label>
      <ion-icon slot="end" name="arrow-forward-outline" color="warning"></ion-icon>
    </ion-item>
  </ion-list>
</ion-content>
