<ion-header>
  <ion-toolbar color="warning">
    <ion-menu-button slot="start" class="white"></ion-menu-button>
    <ion-title class="violet">
      Paramètres
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label>
        Partager l'application
      </ion-label>
      <ion-icon name="share-social" size="large" slot="end" color="primary"></ion-icon>
    </ion-item>

    <ion-item>
      <ion-label>
        Notez-nous
      </ion-label>
      <ion-icon name="pencil" size="large" slot="end" color="primary"></ion-icon>
    </ion-item>

    <ion-item>
      <ion-label>
        Feedback
      </ion-label>
      <ion-icon name="mail-open" size="large" slot="end" color="primary"></ion-icon>
    </ion-item>

    <ion-item>
      <ion-label>
        Contactez-nous
      </ion-label>
      <ion-icon name="call" size="large" slot="end" color="primary"></ion-icon>
    </ion-item>

    <ion-item>
      <ion-label>
        A propos de nous
      </ion-label>
      <ion-icon name="information-circle" size="large" slot="end" color="primary"></ion-icon>
    </ion-item>
  </ion-list>
</ion-content>
