<ion-header>
  <ion-toolbar color="warning">
    <ion-buttons>
      <ion-icon name="chevron-back"
                slot="start"
                color="light"
                (click)="onDismiss()"
                size="large"
                style="margin-left: 5px;"></ion-icon>

      <ion-searchbar placeholder="Rechercher un évènement..." style="margin-bottom: 5px;"></ion-searchbar>


    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="6">
        <ion-button expand="block" mode="ios" fill="outline" color="warning">
          #Danse
        </ion-button>
      </ion-col>

      <ion-col size="6">
        <ion-button expand="block" mode="ios" fill="outline" color="warning">
          #Concert
        </ion-button>
      </ion-col>

      <ion-col size="6">
        <ion-button expand="block" mode="ios" fill="outline" color="warning">
          #Sport
        </ion-button>
      </ion-col>

      <ion-col size="6">
        <ion-button expand="block" mode="ios" fill="outline" color="warning">
          #Sortie de detente
        </ion-button>
      </ion-col>

      <ion-col size="6">
        <ion-button expand="block" mode="ios" fill="outline" color="warning">
          #Cinema
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
