<ion-header>
  <ion-toolbar color="warning">
    <ion-menu-button slot="start" class="white"></ion-menu-button>
    <ion-title class="violet">
      Event Room
    </ion-title>

    <ion-icon name="share-social" size="large" slot="end" class="header-icon"></ion-icon>
    <ion-icon size="large" slot="end" name="ellipsis-vertical" class="white"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 3</ion-title>
    </ion-toolbar>
  </ion-header>

  <app-explore-container name="Tab 3 page"></app-explore-container>
</ion-content>
