<ion-content>
  <div class="content">
    <img src="../../../assets/event.png" alt="" class="login-img">

    <ion-item>
      <ion-icon name="mail" color="warning" slot="start"></ion-icon>
      <ion-label position="floating">Email</ion-label>
      <ion-input type="email"></ion-input>
    </ion-item>

    <ion-item>
      <ion-icon name="lock-closed" color="warning" slot="start"></ion-icon>
      <ion-label position="floating">Mot de passe</ion-label>
      <ion-input type="password"></ion-input>
    </ion-item>
  </div>
</ion-content>
