ion-content {

}

.content {
  text-align: center;
  align-items: center;
  align-content: center;
  margin-left: 15px;
  margin-right: 15px;
}

.login-img {
  align-content: center;
  text-align: center;
  margin-top: 50px;
  width: 250px;
  height: 250px;
  border-radius: 100%;
  border: #ff7f27 4px solid;
}

.input-item {
  border-radius: 10px;
  border: #ff7f27 2px solid;
  height: 7vh;
}
