<ion-app>
  <ion-menu contentId="main-content" type="overlay">
    <img src="../assets/event.png" alt="" class="img"/>

    <ion-content fullscreen="true">
      <ion-list>
        <ion-item-divider color="primary">
          <ion-label>Catégories</ion-label>
        </ion-item-divider>

        <ion-item>
          <ion-icon style="color: #4a1b60;" name="person-circle" slot="start" size="large"></ion-icon>
          <ion-label>
            <h2 style="color: #4a1b60; font-weight: bold;">Danse</h2>
          </ion-label>
        </ion-item>

        <ion-item>
          <ion-icon style="color: #4a1b60;" name="person-circle" slot="start" size="large"></ion-icon>
          <ion-label>
            <h2 style="color: #4a1b60; font-weight: bold;">Sport</h2>
          </ion-label>
        </ion-item>

        <ion-item>
          <ion-icon style="color: #4a1b60;" name="person-circle" slot="start" size="large"></ion-icon>
          <ion-label>
            <h2 style="color: #4a1b60; font-weight: bold;">Music</h2>
          </ion-label>
        </ion-item>

        <ion-item>
          <ion-icon style="color: #4a1b60;" name="person-circle" slot="start" size="large"></ion-icon>
          <ion-label>
            <h2 style="color: #4a1b60; font-weight: bold;">Cinema</h2>
          </ion-label>
        </ion-item>

        <ion-item>
          <ion-icon style="color: #4a1b60;" name="person-circle" slot="start" size="large"></ion-icon>
          <ion-label>
            <h2 style="color: #4a1b60; font-weight: bold;">Sortie de detente</h2>
          </ion-label>
        </ion-item>

        <ion-item>
          <ion-icon style="color: #4a1b60;" name="person-circle" slot="start" size="large"></ion-icon>
          <ion-label>
            <h2 style="color: #4a1b60; font-weight: bold;">Voyage</h2>
          </ion-label>
        </ion-item>

        <ion-item-divider color="primary">
          <ion-label>Plus d'options</ion-label>
        </ion-item-divider>

        <ion-item>
          <ion-icon style="color: #4a1b60;" name="person-circle" slot="start" size="large"></ion-icon>
          <ion-label>
            <h2 style="color: #4a1b60; font-weight: bold;">Mon profil</h2>
          </ion-label>
        </ion-item>

        <ion-item>
          <ion-icon style="color: #4a1b60;" name="heart" slot="start" size="large"></ion-icon>
          <ion-label>
            <h2 style="color: #4a1b60; font-weight: bold;">Favoris</h2>
          </ion-label>
        </ion-item>


        <ion-item>
          <ion-icon style="color: #4a1b60;" name="cart" slot="start" size="large"></ion-icon>
          <ion-label>
            <h2 style="color: #4a1b60; font-weight: bold;">Mes publications</h2>
          </ion-label>
        </ion-item>

      </ion-list>

    </ion-content>
  </ion-menu>
  <ion-router-outlet id="main-content"></ion-router-outlet>
</ion-app>
