<ion-header>
  <ion-toolbar color="warning">
    <ion-menu-button slot="start" class="white"></ion-menu-button>
    <ion-title class="white ion-text-uppercase">
      Event Room
    </ion-title>

    <ion-icon name="share-social" size="large" slot="end" class="header-icon"></ion-icon>
    <ion-icon size="large" slot="end" name="ellipsis-vertical" (click)="openSettingMenu()" class="white"></ion-icon>
  </ion-toolbar>

  <ion-toolbar color="warning">
    <ion-searchbar placeholder="Rechercher un évènement..." (click)="openSearch()" style="margin-bottom: 5px;"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item lines="none" class="ion-item">
    <ion-label>Evènements imminents</ion-label>
    <ion-badge>Voir plus</ion-badge>
  </ion-item>

  <div class="scroll_freind">
    <div class="music-box">
      <ion-card class="card">
        <img src="../../../assets/photo-3.jpeg" alt="" class="img"/>
        <ion-card-header>
          <ion-card-subtitle class="date">11 decembre 2020</ion-card-subtitle>
          <ion-card-title class="title">Fête d'independance</ion-card-title>
        </ion-card-header>

        <ion-card-content class="location">
          <ion-icon name="location" slot="start" class="icon"></ion-icon> Avenue Thomas, Ouaga
        </ion-card-content>
      </ion-card>
    </div>

    <div class="music-box">
      <ion-card class="card">
        <img src="../../../assets/photo-4.jpg" alt="" class="img"/>
        <ion-card-header>
          <ion-card-subtitle class="date">25 mai 2020</ion-card-subtitle>
          <ion-card-title class="title">FESPACO</ion-card-title>
        </ion-card-header>

        <ion-card-content class="location">
          <ion-icon name="location" slot="start" class="icon"></ion-icon> Avenue Thomas, Ouaga
        </ion-card-content>
      </ion-card>
    </div>

    <div class="music-box">
      <ion-card class="card">
        <img src="../../../assets/photo-10.jpg" alt="" class="img"/>
        <ion-card-header>
          <ion-card-subtitle class="date">25 Avril 2020</ion-card-subtitle>
          <ion-card-title class="title">SIAO</ion-card-title>
        </ion-card-header>

        <ion-card-content class="location">
          <ion-icon name="location" slot="start" class="icon"></ion-icon> Avenue Thomas, Ouaga
        </ion-card-content>
      </ion-card>
    </div>

    <div class="music-box">
      <ion-card class="card">
        <img src="../../../assets/photo-11.png" alt="" class="img"/>
        <ion-card-header>
          <ion-card-subtitle class="date">1 juin 2020</ion-card-subtitle>
          <ion-card-title class="title">Finiti Show</ion-card-title>
        </ion-card-header>

        <ion-card-content class="location">
          <ion-icon name="location" slot="start" class="icon"></ion-icon> Avenue Thomas, Bobo
        </ion-card-content>
      </ion-card>
    </div>

    <div class="music-box">
      <ion-card class="card">
        <img src="../../../assets/photo-13.jpg" alt="" class="img"/>
        <ion-card-header>
          <ion-card-subtitle class="date">12 Août 2020</ion-card-subtitle>
          <ion-card-title class="title">Festival Garba</ion-card-title>
        </ion-card-header>

        <ion-card-content class="location">
          <ion-icon name="location" slot="start" class="icon"></ion-icon> Avenue Thomas, Ouaga
        </ion-card-content>
      </ion-card>
    </div>
  </div>

  <ion-item lines="none" class="ion-item">
    <ion-label>Quelques catégories</ion-label>
    <ion-badge slot="end" mode="ios" (click)="onShowCategories()">Voir plus</ion-badge>
  </ion-item>

  <div class="scroll_freind">
    <div class="music-box">
      <ion-card class="card">
        <img src="../../../assets/photo-3.jpeg" alt="" class="img"/>
        <ion-card-header>
          <ion-card-subtitle class="date">11 decembre 2020</ion-card-subtitle>
          <ion-card-title class="title">Fête d'independance</ion-card-title>
        </ion-card-header>

        <ion-card-content class="location">
          <ion-icon name="location" slot="start" class="icon"></ion-icon> Avenue Thomas, Ouaga
        </ion-card-content>
      </ion-card>
    </div>

    <div class="music-box">
      <ion-card class="card">
        <img src="../../../assets/photo-4.jpg" alt="" class="img"/>
        <ion-card-header>
          <ion-card-subtitle class="date">25 mai 2020</ion-card-subtitle>
          <ion-card-title class="title">FESPACO</ion-card-title>
        </ion-card-header>

        <ion-card-content class="location">
          <ion-icon name="location" slot="start" class="icon"></ion-icon> Avenue Thomas, Ouaga
        </ion-card-content>
      </ion-card>
    </div>

    <div class="music-box">
      <ion-card class="card">
        <img src="../../../assets/photo-10.jpg" alt="" class="img"/>
        <ion-card-header>
          <ion-card-subtitle class="date">25 Avril 2020</ion-card-subtitle>
          <ion-card-title class="title">SIAO</ion-card-title>
        </ion-card-header>

        <ion-card-content class="location">
          <ion-icon name="location" slot="start" class="icon"></ion-icon> Avenue Thomas, Ouaga
        </ion-card-content>
      </ion-card>
    </div>

    <div class="music-box">
      <ion-card class="card">
        <img src="../../../assets/photo-11.png" alt="" class="img"/>
        <ion-card-header>
          <ion-card-subtitle class="date">1 juin 2020</ion-card-subtitle>
          <ion-card-title class="title">Finiti Show</ion-card-title>
        </ion-card-header>

        <ion-card-content class="location">
          <ion-icon name="location" slot="start" class="icon"></ion-icon> Avenue Thomas, Bobo
        </ion-card-content>
      </ion-card>
    </div>

    <div class="music-box">
      <ion-card class="card">
        <img src="../../../assets/photo-13.jpg" alt="" class="img"/>
        <ion-card-header>
          <ion-card-subtitle class="date">12 Août 2020</ion-card-subtitle>
          <ion-card-title class="title">Festival Garba</ion-card-title>
        </ion-card-header>

        <ion-card-content class="location">
          <ion-icon name="location" slot="start" class="icon"></ion-icon> Avenue Thomas, Ouaga
        </ion-card-content>
      </ion-card>
    </div>
  </div>
</ion-content>
