<ion-header>
  <ion-toolbar color="warning">
    <ion-buttons>
      <ion-back-button></ion-back-button>
      <ion-title>Mes publications</ion-title>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item (click)="onShowDetail('Danse', 'photo-3.jpeg')">
      <ion-thumbnail slot="start">
        <img src="../../../assets/photo-3.jpeg" alt="">
      </ion-thumbnail>

      <ion-label class="title">
        <h2 class="warning">Soirée culturelle</h2>

        <h3 class="violet">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias m
          agnam molestias porro! Architecto, assumenda distinctio d
          olore eaque exercitationem expedi
        </h3>

        <p>
          <ion-icon name="alarm" slot="start" class="icon"></ion-icon> {{ date | date: 'dd/MM/yyyy - HH:mm:ss' }}
        </p>

        <p>
          <ion-icon name="location" slot="start" class="icon"></ion-icon> Koulouba
        </p>
      </ion-label>

      <ion-icon slot="end" name="arrow-forward-outline" color="warning"></ion-icon>
    </ion-item>

    <ion-item (click)="onShowDetail('Detente', 'photo-4.jpg')">
      <ion-thumbnail slot="start">
        <img src="../../../assets/photo-4.jpg" alt="">
      </ion-thumbnail>

      <ion-label class="title">
        <h2 class="warning">Soirée culturelle</h2>

        <h3 class="violet">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias m
          agnam molestias porro! Architecto, assumenda distinctio d
          olore eaque exercitationem expedi
        </h3>

        <p>
          <ion-icon name="alarm" slot="start" class="icon"></ion-icon> {{ date | date: 'dd/MM/yyyy - HH:mm:ss' }}
        </p>

        <p>
          <ion-icon name="location" slot="start" class="icon"></ion-icon> Koulouba
        </p>
      </ion-label>

      <ion-icon slot="end" name="arrow-forward-outline" color="warning"></ion-icon>
    </ion-item>

    <ion-item (click)="onShowDetail('Visite touristique', 'photo-11.png')">
      <ion-thumbnail slot="start">
        <img src="../../../assets/photo-11.png" alt="">
      </ion-thumbnail>

      <ion-label class="title">
        <h2 class="warning">Soirée culturelle</h2>

        <h3 class="violet">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias m
          agnam molestias porro! Architecto, assumenda distinctio d
          olore eaque exercitationem expedi
        </h3>

        <p>
          <ion-icon name="alarm" slot="start" class="icon"></ion-icon> {{ date | date: 'dd/MM/yyyy - HH:mm:ss' }}
        </p>

        <p>
          <ion-icon name="location" slot="start" class="icon"></ion-icon> Koulouba
        </p>
      </ion-label>

      <ion-icon slot="end" name="arrow-forward-outline" color="warning"></ion-icon>
    </ion-item>

    <ion-item (click)="onShowDetail('Concert', 'photo-13.jpg')">
      <ion-thumbnail slot="start">
        <img src="../../../assets/photo-13.jpg" alt="">
      </ion-thumbnail>

      <ion-label class="title">
        <h2 class="warning">Soirée culturelle</h2>

        <h3 class="violet">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias m
          agnam molestias porro! Architecto, assumenda distinctio d
          olore eaque exercitationem expedi
        </h3>

        <p>
          <ion-icon name="alarm" slot="start" class="icon"></ion-icon> {{ date | date: 'dd/MM/yyyy - HH:mm:ss' }}
        </p>

        <p>
          <ion-icon name="location" slot="start" class="icon"></ion-icon> Koulouba
        </p>
      </ion-label>

      <ion-icon slot="end" name="arrow-forward-outline" color="warning"></ion-icon>
    </ion-item>

    <ion-item (click)="onShowDetail('Autres', 'photo-10.jpg')">
      <ion-thumbnail slot="start">
        <img src="../../../assets/photo-10.jpg" alt="">
      </ion-thumbnail>

      <ion-label class="title">
        <h2 class="warning">Soirée culturelle</h2>

        <h3 class="violet">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias m
          agnam molestias porro! Architecto, assumenda distinctio d
          olore eaque exercitationem expedi
        </h3>

        <p>
          <ion-icon name="alarm" slot="start" class="icon"></ion-icon> {{ date | date: 'dd/MM/yyyy - HH:mm:ss' }}
        </p>

        <p>
          <ion-icon name="location" slot="start" class="icon"></ion-icon> Koulouba
        </p>
      </ion-label>

      <ion-icon slot="end" name="arrow-forward-outline" color="warning"></ion-icon>
    </ion-item>
  </ion-list>
</ion-content>
